@import "../../../app/scss/variables";
.modal-title{
  color: $black !important;
}

.modal-content.dark{
  background: $dark-grey !important;
  color: $white;
  .modal-title {
    color: $white !important;
  }
  .form-control {
    background-color: $dark-grey;
    color: $white;
    border-color: #828fa340;
  }
  .form-control::placeholder {
    color: $medium-grey;
  }
  .modal-header {
  border-color: $dark-grey !important;
  }
  .modal-footer {
    border-color: $dark-grey !important;
    }
}


