<div class="modal " id="exampleModalToggle" aria-labelledby="exampleModalToggleLabel">
  <div class="modal-dialog modal-dialog-centered" >
    <div class="modal-content"  [ngClass]="_isDarkMode?'dark':''">
      <div class="modal-header d-flex justify-content-between border-0">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel">{{ subTasks.length > 0 ? subTasks[0].mainTaskTitle :
          'No Title' }}</h1>
         <div>
          <button type="button" class="btn btn-lg add-column fs-2 text-center" id="dropdownMenuButton"
          data-bs-toggle="dropdown" aria-expanded="false">
          <img src="assets/images/icon-vertical-ellipsis.svg" alt="options" />
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li>
            <a class="dropdown-item" href="#" (click)="openTaskModal('Edit')">Edit Task</a>
          </li>
          <li>
            <a class="dropdown-item text-danger" href="#" (click)="deleteTaskModal(subTasks[0].title, 0)">Delete Task</a>
          </li>
        </ul>
        <app-board-modal [isBoardOpen]="isTaskModalOpen" [modalBoardTitle]="modalTaskTitle" [board]="sendTask()"
        (close)="closeBoardModal()"></app-board-modal>
      <app-delete-board [isBoardOpen]="isDeleteModalOpen" [modalBoardTitle]="modalTaskTitle"
        (close)="closeDeleteTaskModal()"></app-delete-board>
         </div>
      </div>
      <div class="modal-body">
        <p class="SubtasksL">Subtasks {{subTasks.length}}</p>
        <div class=" d-flex flex-column gap-3">
          <ng-container *ngFor="let subtask of subTasks;let i = index">
            <div class="todo d-flex gap-2">
              <input type="checkbox" [id]="'subtask-' + i">
              <label class="subtaskT p-0 m-0" [for]="'subtask-' + i">{{ subtask?.title }}</label>
            </div>
          </ng-container>
          <ng-container *ngIf="subTasks.length === 0">
            <p>No subtasks available.</p>
          </ng-container>
        </div>

      </div>
      <div class="modal-footer border-0" >
         <select id="status" class="form-control" formControlName="status">
              <option *ngFor="let column of columns; let i = index" [value]="column.name">
                {{ column.name }}
              </option>
            </select>
        </div>
    </div>
  </div>
</div>
