@import "../../../../scss/variables";
.task
{
  cursor: pointer;
  box-shadow: $tw-shadow;
  max-width: 300px;
  white-space: wrap;
  &:hover{
    h6{
      color: $purple;
    }
  }
  p{
    font-size: 0.8rem;
    font-weight: bold;
    color: $medium-grey;
  }
}

.task.dark{
  background: $dark-grey !important;
  color: $white;
}
