<div class="parent">
  <div #offcanvas class="offcanvas offcanvas-start" [class.show]="isSidebarHide" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel"
    [ngClass]="_isDarkMode.isDarkMode ? 'dark' : ''">
    <div class="offcanvas-header">
      <img class="offcanvas-title" id="offcanvasLabel" [src]="logoSrc" />
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" (click)="showbtn()"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        <p class="text-uppercase">all boards <span>({{ boardData.length }})</span></p>
        <div class="boards d-flex flex-column gap-2">
          <ng-container *ngIf="boardData.length > 0">
            <ng-container *ngFor="let item of boardData; let boardIndex = index">
              <app-sidebar-item
                [boardItem]="item"
                [ngClass]="{'active': isActive(boardIndex)}"
                (click)="setActiveIndex(boardIndex)"> <!-- Set active on click -->
              </app-sidebar-item>
            </ng-container>
          </ng-container>
        </div>

        <div class="add-board rounded d-flex align-items-center fw-bold gap-3 p-3">
          <div class="image-wrapper h-10 w-60">
            <img class="w-100" src="/assets/images/icon-board-new.svg" alt="Board" />
          </div>
          <p (click)="addNewBoard()">+ Create New Board</p>
        </div>
      </div>
      <div class="theme text-center p-2 bottom-0 position-absolute">
        <button class="btn" (click)="toggleTheme()">
          <i [class]="iconClass" class="fs-5"></i>
        </button>
      </div>
    </div>
  </div>
  <button class="btn position-absolute show-sidebar position-fixed" data-bs-toggle="offcanvas" href="#offcanvas" role="button"
    aria-controls="offcanvas" (click)="showbtn()" *ngIf="!isSidebarHide">
    Show
  </button>
</div>
