@import "../../scss/_variables";
.offcanvas-body {
  color: $medium-grey;
}
.add-board{
  border-top-right-radius: 2rem !important;
  border-bottom-right-radius: 2rem !important;
  cursor: pointer;
  margin-top: 1rem;
  color: $purple;
  &:hover {
    background: $line-light;
    color: $purple;
  }
  p {
    margin: 0;
  }
}
.show-sidebar {
  color: #fff;
  left: 0;
  bottom: 1rem;
  background: $purple;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  z-index: 1059;
}
.offcanvas.dark {
  transition: 0.3s all;
  background: $dark-grey;

  .board {
    border-color: $dark-grey !important;
  }
  .theme {
    .btn {
      .fa-solid {
        color: #e3b90d;
        transition: 0.4s ease-in-out;
        &.rotate{
          transform: rotate(270deg);
        }
      }
    }
  }
}

.parent{
  z-index: 1000000;
}
